<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>DatabaseConnectiviy</display-name>
    <servlet-name>DatabaseConnectiviy</servlet-name>
    <servlet-class>aspiresys.DatabaseConnectiviy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnectiviy</servlet-name>
    <url-pattern>/DatabaseConnectiviy</url-pattern>
  </servlet-mapping>
  <display-name>FoodManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DatabaseConnectivityAdmin</display-name>
    <servlet-name>DatabaseConnectivityAdmin</servlet-name>
    <servlet-class>DatabaseConnectivityAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnectivityAdmin</servlet-name>
    <url-pattern>/DatabaseConnectivityAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCheck</display-name>
    <servlet-name>AdminCheck</servlet-name>
    <servlet-class>aspiresys.AdminCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCheck</servlet-name>
    <url-pattern>/AdminCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUserSignUp</display-name>
    <servlet-name>NewUserSignUp</servlet-name>
    <servlet-class>aspiresys.NewUserSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUserSignUp</servlet-name>
    <url-pattern>/NewUserSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodDisplay</display-name>
    <servlet-name>FoodDisplay</servlet-name>
    <servlet-class>FoodDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodDisplay</servlet-name>
    <url-pattern>/FoodDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodDisplay1</display-name>
    <servlet-name>FoodDisplay1</servlet-name>
    <servlet-class>aspiresys.FoodDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodDisplay1</servlet-name>
    <url-pattern>/FoodDisplay1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodShow</display-name>
    <servlet-name>FoodShow</servlet-name>
    <servlet-class>aspiresys.FoodDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodShow</servlet-name>
    <url-pattern>/FoodShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodDIsplay</display-name>
    <servlet-name>FoodDIsplay</servlet-name>
    <servlet-class>aspiresys.FoodDIsplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodDIsplay</servlet-name>
    <url-pattern>/FoodDIsplay</url-pattern>
  </servlet-mapping>
</web-app>